body{
    color: rgb(247, 218, 218);
    text-align: center;
}
.divCenterR{
    /* background-color: rgb(24, 52, 96);
    font-family: 'Dancing Script', cursive; */
    width: auto;
    padding: 1%;
    border-radius: 30px;
    margin-top: 2%;
}
.headerArea{ 
    display: flex;
}
.headerSection{
    width: 50%;
}
.headerSection.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    /* color: rgb(246, 206, 206); */
    padding-top: 2%;
    font-size: 64px;
    font-family: 'DM sans';
    margin-bottom: 0%;

}
.description{
    font-size: 24px;
}
.pricingTables{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}
.tierType {
    font-size: 40px;
}
.table.table-bordered.tier{
    border-radius:6px;
    
    text-align: center;
    width: 502px;
}

.footnote {
    font-size: 24px;
    text-align: center;
    color: #A8A8A8;
}

.click{
    color: rgb(247, 218, 218);
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
.click:hover{
    color: rgb(246, 206, 206);
    text-shadow: 3px 3px rgb(93, 129, 188);
    text-decoration: none;
}
.imgR{
    width: 90%;
    height: 450px;
    padding:1%;
    margin: 2%;
}
.imgR:hover{
    box-shadow: 6px 6px rgb(246, 206, 206);
}
.venmoCode{
    color: rgb(246, 206, 206);
    width: 100%;
}
.smallHeading{
    color: rgb(246, 206, 206);
    padding-top: 0%;
    font-size: 35px;
}
.venmoCode{
    color: rgb(246, 206, 206);
    width: 100%;
}
.venmo{
    color: rgb(246, 206, 206);
    font-size: 50px;
}
.table{
    z-index: 3;
    background: white;
}